
<html>
<head>
    <title>Django ExtJs</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">     
    <link rel="stylesheet" type="text/css" href="static/app/resources/ext-theme-neptune-all.css">     
    <script type="text/javascript" src="static/app/scripts/ext-all.js"></script>      
    <script type="text/javascript" src="static/app/scripts/app.js"></script>
    <script type="text/javascript" src="static/app/iconMgr/iconMgr.js"></script>

</head>
<body>
</body>
</html>
